
        
        <div id="pad-wrapper">
            <div class="row">
                <div class="col-md-12 col-xs-12 refreshing">
                    <div id="fuelux-wizard" class="wizard row" style="display:none;">
                        <ul class="wizard-steps">
                            <li data-target="#step1" class="active">
                                <span class="step">0</span>
                                <span class="title">General <br> information</span>
                            </li>
                            
                             
                            
                        </ul>                            
                    </div>
                    <%= form_for(@workout.agendas.build(workout_id: @workout.id), remote: true, html: { :class => "form-horizontal" }) do |f| %>

                    <div class="step-content">
                        <div class="step-pane active" id="step1">
                            <div class="row form-wrapper">
                                <div class="col-md-8">



									  <div><%= f.hidden_field :workout_id %></div>
									   <div class="field">
									    <%= f.label :exercise %><br />
									    <%= f.collection_select :exercise_id, current_user.exercises, :id, :name, prompt: true %>
									  </div>

									   <div class="field">
									   	<% the_array = [1,2,3,4,5,6] %>
									    <%= label_tag :exercise, "# of Sets/Rotations" %><br />
									    <%= select_tag :exercise_id, options_for_select(the_array.each_with_index.map {|name, index| [name,index+1]}), :name => nil, :prompt => "Choose One", :disabled => true %>
									  </div>

                    <div class="field">
                      <% the_array2 = ["Distance", "Reps", "Time"] %>
                      <%= label_tag :exercise, "What are you measuring" %><br />
                      <%= select_tag :exercise_type, options_for_select(the_array2.each_with_index.map {|name, index| [name,index+1]}), :name => nil, :prompt => "Choose One", :disabled => true %>
                    </div>
                    <div class="field">
                      <% the_array3 = ["Yes", "No"] %>
                      <%= label_tag :exercise, "More than Body Weight?" %><br />
                      <%= select_tag :exercise_weight, options_for_select(the_array3.each_with_index.map {|name, index| [name,index+1]}), :name => nil, :prompt => "Choose One", :disabled => true %>
                    </div>

									  <div style="visibility:hidden;"><%= f.add_nested_fields_link :rotations, 'Add another set for this exercise' %></div>



									  
									  




                                    
                                </div>
                            </div>
                        </div>
                        <%= f.nested_fields_for :rotations, wrapper_tag: :div do |ff| %>
                        <div id="subfield">
                        <div class="step-pane" id="step0">
                            <div class="row form-wrapper">
                                <div class="col-md-8">
                                	 <div class="form-group">
			                              <%= ff.label :amount, :class => "col-md-2 control-label", :id => "amount_lab" %>
			                              <div class="col-md-8">
			                              <%= ff.text_field :amount, :class => "form-control place_text", :placeholder => "Amount" %>
			                            </div>
                                </div>
                                  <div class="form-group unvis">
                                    <%= ff.label :unit, :class => "col-md-2 control-label" %>
                                    <div class="col-md-8">
                                    <%= ff.select :unit, [], :class => "form-control", :placeholder => "Unit" %>
                                  </div>
			                        </div>
                              <div class="form-group mkvis">
                                    <%= ff.label :exwt, "Weight Added", :class => "col-md-2 control-label" %>
                                    <div class="col-md-8">
                                    <%= ff.text_field :exwt, :class => "form-control", :placeholder => "Weight Added" %>
                                  </div>
                              </div>
                                    <div style="display:none;">
									  <%= ff.remove_nested_fields_link %>
                    </div>
									  
                                </div>
                            </div>
                        </div>
                    </div>
                        <% end %>
                    <div class="wizard-actions">
                        <button type="button" disabled class="btn-glow primary btn-prev"> 
                            <i class="icon-chevron-left"></i> Prev
                        </button>
                        <button type="button" disabled class="btn-glow primary btn-next" data-last="Finish">
                            Next <i class="icon-chevron-right"></i>
                        </button>
                            <%= f.submit "Add Exercise To Workout", class: "btn-glow success btn-finish" %>
									
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
 <script type="text/javascript">


     var match_up  = function(){
        
            var $wizard = $('#fuelux-wizard'),
                $btnPrev = $('.wizard-actions .btn-prev'),
                $btnNext = $('.wizard-actions .btn-next'),
                $btnFinish = $(".wizard-actions .btn-finish"),
                $total = $(".wizard-steps li").length;

            $wizard.wizard().on('finished', function(e) {
                // wizard complete code
            }).on("changed", function(e) {
                var step = $wizard.wizard("selectedItem");
                // reset states
                $btnNext.removeAttr("disabled");
                $btnPrev.removeAttr("disabled");
                $btnNext.show();
                $btnFinish.hide();

                if (step.step === 1) {
                    $btnPrev.attr("disabled", "disabled");
                } else if (step.step === $total) {
                    $btnNext.hide();
                    $btnFinish.show();
                }
            });

            $btnPrev.on('click', function() {
                $wizard.wizard('previous');
            });
            $btnNext.on('click', function() {
                $wizard.wizard('next');
            });
            $wizard.data('wizard', '');
        }
$(document).ready(function(){
  $( "body" ).off("change","#agenda_exercise_id");
  $( "body" ).on("change","#agenda_exercise_id",function() {
    $("#exercise_id").prop("disabled", false);
    $("#exercise_id").prop('selectedIndex',0);
    $("#exercise_id").siblings('label').css({ "color": "#333333"});
    $("#exercise_type").prop("disabled", true);
    $("#exercise_type").prop('selectedIndex',0);
    $("#exercise_type").siblings('label').css({ "color": "rgb(177, 177, 177)"});
    $("#exercise_weight").prop("disabled", true);
    $("#exercise_weight").prop('selectedIndex',0);
    $("#exercise_weight").siblings('label').css({ "color": "rgb(177, 177, 177)"});
  });
});
    

$(document).ready(function(){
    tibs();
    match_up();
    $("#exercise_id").siblings('label').css({ "color": "rgb(177, 177, 177)"});
    $("#exercise_type").siblings('label').css({ "color": "rgb(177, 177, 177)"});
    $("#exercise_weight").siblings('label').css({ "color": "rgb(177, 177, 177)"});
    
var myStuff = null;
$( "body" ).off("change","#exercise_id");
$( "body" ).on("change","#exercise_id",function() {
    $(".nested_fields").remove();
  $('ul.wizard-steps li:not(:first)').remove();
    $('#fuelux-wizard').data('wizard', '');
    $('#fuelux-wizard').data('a', '');

  var val = this.value;
  
  $(".nested_fields").remove();
  $('ul.wizard-steps li:not(:first)').remove();
  i=-1;
  while (i<val)
  {
 $("a.add_nested_fields_link").click();
   i++;
  }
  $('ul.wizard-steps li:last').remove();
  
  $('.nested_fields:last').remove();
 

  
  var stepNum = $('#fuelux-wizard').wizard('selectedItem');
  
  

  $("#exercise_type").prop("disabled", false);
    $("#exercise_type").prop('selectedIndex',0);
    $("#exercise_type").siblings('label').css({ "color": "#333333"});
    $("#exercise_weight").prop("disabled", true);
    $("#exercise_weight").prop('selectedIndex',0);
    $("#exercise_weight").siblings('label').css({ "color": "rgb(177, 177, 177)"});
  
 

   

    


});

});

$(document).ready(function(){
  $( "body" ).off("change","#exercise_type");
  $( "body" ).on("change","#exercise_type",function() {
    var val2 = this.value;
    if (val2==1) {
        $('label#amount_lab').text('Distance');
        $(".place_text").attr("placeholder", "Distance");
        $('.unvis').css({ "display": "block"});
        $('.unvis')
          .find('select')
          .find('option')
          .remove()
          .end()
          .append('<option value="inch">inches</option>')
          .append('<option value="foot">feet</option>')
          .append('<option value="mile">miles</option>')
      ;
    } else if (val2==2) {
        $('label#amount_lab').text('# of Reps');
        $(".place_text").attr("placeholder", "# of Reps");
        $('.unvis').css({ "display": "none"});
        $('.unvis')
          .find('select')
          .find('option')
          .remove()
      ;
    } else if (val2==3) {
        $('label#amount_lab').text('Time');
        $(".place_text").attr("placeholder", "Time");
        $('.unvis').css({ "display": "block"});
        $('.unvis')
          .find('select')
          .find('option')
          .remove()
          .end()
          .append('<option value="second">seconds</option>')
          .append('<option value="minute">minutes</option>')
          .append('<option value="hour">hours</option>')
      ;
    };
    $("#exercise_weight").prop("disabled", false);
    $("#exercise_weight").siblings('label').css({ "color": "#333333"});
  });
});

$(document).ready(function(){
  $( "body" ).off("change","#exercise_weight");
  $( "body" ).on("change","#exercise_weight",function() {
    var val3 = this.value;
    if (val3==1) {
      $('.mkvis').css({ "visibility": "visible"});
    } else if (val3==2) {
      $('.mkvis').css({ "visibility": "hidden"});
    };
    $('.wizard-actions .btn-next').removeAttr("disabled");
  });
});

$(document).ready(function(){
    $("body").off("click", ".wizard-actions button");
    $("body").on("click", ".wizard-actions button", function(){
        var currentOne = $('ul.wizard-steps li').index($('ul.wizard-steps li.active'));
        var tots = $('ul.wizard-steps li').length;
        if ( currentOne == tots-1 ) {
            $('.wizard-actions .btn-next').hide();
            $(".wizard-actions .btn-finish").show();
        }
        });
});

</script>

<script type="text/javascript">
$(function () {
$(document).ready(function(){
$("body").off("click", "a.add_nested_fields_link");
$("body").on("click", "a.add_nested_fields_link", function(){
	var n = $(".wizard-steps li").length+1;
	var m = $(".wizard-steps li").length;
  var j = $(".nested_fields").length+1;
  var o = $(".nested_fields").length;

	$('ul.wizard-steps').append('<li data-target="#step'+n+'"><span class="step">'+m+'</span><span class="title">Set '+m+' <br> information</span></li>');
	
	 var itis = $('#agenda_exercise_id option:selected').text();
$( ".nested_fields" ).find("#step0").last()
 
  .prepend('<h3> Set #'+o+' - '+itis+' </h3>')
  .attr( "id", function(  ) {

    return "step" + j;

  });


  var n = 0;
  var m = 0;

  
  
});

});
});



</script>

