<%= form_for(@workout.agendas.build(workout_id: @workout.id)) do |f| %>
  <div><%= f.hidden_field :workout_id %></div>
   <div class="field">
    <%= f.label :exercise %><br />
    <%= f.collection_select :exercise_id, current_user.exercises, :id, :name, prompt: true %>
  </div>

   <div class="field">
	    <%= f.label :sets %><br />
	    <%= f.number_field :set %>
	  </div>

	   <div class="field">
	    <%= f.label :reps %><br />
	    <%= f.number_field :rep %>
	  </div>
  <%= f.submit "Add Exercise To Workout", class: "btn mybtn btn-lg btn-primary" %>
<% end %>