
                    <div id="fuelux-wizard" class="wizard row" style="display:none;">
                        <ul class="wizard-steps">
                            <li data-target="#step1" class="active">
                                <span class="step">0</span>
                                <span class="title">General <br> information</span>
                            </li>
                            
                             
                            
                        </ul>                            
                    </div>
                    <%= form_for(@workout.agendas.build(workout_id: @workout.id), remote: true, html: { :class => "form-horizontal", :style => "top: -25px; position: relative;" }) do |f| %>

                    <div class="step-content">
                        <div class="step-pane active" id="step1">
                            <div class="row form-wrapper">
                                <div class="col-md-12">



									  <div><%= f.hidden_field :workout_id %></div>
									   <div class="form-group" style="margin-bottom:0px">
									    <%= f.label :exercise, :class => "col-md-2 control-label" %>
                      <div class="col-md-8 ui-select" style="padding-left: 0px;max-width: 400px;left: 14px;">
									    <%= f.collection_select :exercise_id, current_user.exercises, :id, :name, {prompt: true}, {:class => "form-control", :style => "padding-left: 12px;width: 107%;"} %>
                      </div>
									  </div>
                    <br />

									   <div class="form-group" style="margin-bottom:0px">
									   	<% the_array = [1,2,3,4,5,6] %>
									    <%= label_tag :exercise, "# of Sets", :class => "col-md-2 control-label" %>
                      <div class="col-md-8 ui-select" style="padding-left: 0px;max-width: 400px;left: 14px;">
									     <%= select_tag :exercise_id, options_for_select(the_array.each_with_index.map {|name, index| [name,index+1]}), :name => nil, :prompt => "Choose One", :disabled => true, :class => "form-control", :style => "padding-left: 12px;width: 107%;" %>
                      </div>
									  </div>
                    <br />


									  <div style="display:none;"><%= f.add_nested_fields_link :rotations, 'Add another set for this exercise' %></div>



									  
									  




                                    
                                </div>
                            </div>
                        </div>
                        <%= f.nested_fields_for :rotations, wrapper_tag: :div do |ff| %>
                        <div id="subfield">
                        <div class="step-pane" id="step0">
                            <div class="row form-wrapper">
                                <div class="col-md-12">
                                	 <div class="form-group">
			                              <%= ff.label :amount, :class => "col-md-2 control-label", :style => "text-align: center;width: 169px;", :id => "amount_lab" %>
			                              <div class="col-md-8">
			                              <%= ff.text_field :amount, :class => "form-control place_text", :style => "border-color: #d0dde9;width:169px;" , :placeholder => "Amount" %>
			                            </div>
                                </div>
                                  <div class="form-group unvis">
                                    <%= ff.label :unit, :class => "col-md-2 control-label", :style => "text-align: center;width: 169px;" %>
                                    <div class="col-md-8 ui-select" style="padding-left: 0px;max-width: 400px;left: 14px;">
                                    <%= ff.select :unit, [], {:placeholder => "Unit"}, {:class => "form-control" , :style => "padding-left: 12px;width: 107%;"} %>
                                  </div>
			                        </div>
                              <div class="form-group mkvis" style="margin-top:18px;">
                                    <%= ff.label :exwt, "Weight Added", :class => "col-md-2 control-label", :style => "text-align: center;width: 169px;" %>
                                    <div class="col-md-8">
                                    <%= ff.text_field :exwt, :class => "form-control", :style => "border-color: #d0dde9;width:169px;" , :placeholder => "Weight Added (lbs)" %>
                                  </div>
                              </div>
                                    <div style="display:none;">
									  <%= ff.remove_nested_fields_link %>
                    </div>
									  
                                </div>
                            </div>
                        </div>
                    </div>
                        <% end %>
                    <div class="wizard-actions" style="right: 34px; width: 293px; align-content: center; position: relative;">
                        <button type="button" disabled class="btn-glow primary btn-prev"> 
                            <i class="icon-chevron-left"></i> Prev
                        </button>
                        <button type="button" disabled class="btn-glow primary btn-next" style="margin-left:94px;" data-last="Finish">
                            Next <i class="icon-chevron-right"></i>
                        </button>
                            <%= f.submit "Add Exercise To Workout", class: "btn-glow success btn-finish" %>
									
                        <% end %>
                    </div>
                </div>
         

    
 <script type="text/javascript">


     var match_up  = function(){
        
            var $wizard = $('#fuelux-wizard'),
                $btnPrev = $('.wizard-actions .btn-prev'),
                $btnNext = $('.wizard-actions .btn-next'),
                $btnFinish = $(".wizard-actions .btn-finish"),
                $total = $(".wizard-steps li").length;

            $wizard.wizard().on('finished', function(e) {
                // wizard complete code
            }).on("changed", function(e) {
                var step = $wizard.wizard("selectedItem");
                // reset states
                $btnNext.removeAttr("disabled");
                $btnPrev.removeAttr("disabled");
                $btnNext.show();
                $btnFinish.hide();

                if (step.step === 1) {
                    $btnPrev.attr("disabled", "disabled");
                } else if (step.step === $total) {
                    $btnNext.hide();
                    $btnFinish.show();
                }
            });

            $btnPrev.on('click', function() {
                $wizard.wizard('previous');
            });
            $btnNext.on('click', function() {
                $wizard.wizard('next');
            });
            $wizard.data('wizard', '');
        }
$(document).ready(function(){
  $( "body" ).off("change","#agenda_exercise_id");
  $( "body" ).on("change","#agenda_exercise_id",function() {

    $("#exercise_id").prop("disabled", false);
    $("#exercise_id").prop('selectedIndex',0);
    $("#exercise_id").parent().parent().children('label').css({ "color": "#333333"});

    $('.wizard-actions .btn-next').attr("disabled", "true");

  });
});
    

$(document).ready(function(){
    tibs();
    match_up();
    $("#exercise_id").parent().parent().children('label').css({ "color": "rgb(177, 177, 177)"});
    
    
var myStuff = null;
$( "body" ).off("change","#exercise_id");
$( "body" ).on("change","#exercise_id",function() {
    $(".nested_fields").remove();
  $('ul.wizard-steps li:not(:first)').remove();
    $('#fuelux-wizard').data('wizard', '');
    $('#fuelux-wizard').data('a', '');

  var val = this.value;
  
  $(".nested_fields").remove();
  $('ul.wizard-steps li:not(:first)').remove();
  i=-1;
  while (i<val)
  {
 $("a.add_nested_fields_link").click();
   i++;
  }
  $('ul.wizard-steps li:last').remove();
  
  $('.nested_fields:last').remove();
 

  
  var stepNum = $('#fuelux-wizard').wizard('selectedItem');
  
  

  $('.wizard-actions .btn-next').removeAttr("disabled");  
 

   
    var idval = $("#agenda_exercise_id").val();
    $.ajax({
        type: "GET",
        dataType: "json",
        data: {id: idval},
        url: "/exercises/type",
        success: function(data){
          console.log(data);
          setLabel(data)
        }
      });

    


});

});


var setLabel = function(data){
  if (data=="Distance") {
            $('label#amount_lab').text('Distance');
            $(".place_text").attr("placeholder", "Distance");
            $('.unvis').css({ "display": "block"});
            $('.unvis')
              .find('select')
              .find('option')
              .remove()
              .end()
              .append('<option value="inches">inches</option>')
              .append('<option value="feet">feet</option>')
              .append('<option value="meters">meters</option>')
              .append('<option value="miles">miles</option>')
          ;
        } else if (data=="Reps") {
            $('label#amount_lab').text('# of Reps');
            $(".place_text").attr("placeholder", "# of Reps");
            $('.unvis').css({ "display": "block"});
            $('.unvis')
              .find('select')
              .find('option')
              .remove()
              .remove()
              .end()
              .append('<option value="reps">reps</option>')
          ;
        } else if (data=="Time") {
            $('label#amount_lab').text('Time');
            $(".place_text").attr("placeholder", "Time");
            $('.unvis').css({ "display": "block"});
            $('.unvis')
              .find('select')
              .find('option')
              .remove()
              .end()
              .append('<option value="seconds">seconds</option>')
              .append('<option value="minutes">minutes</option>')
              .append('<option value="hours">hours</option>')

            }
}







$(document).ready(function(){
    $("body").off("click", ".wizard-actions button");
    $("body").on("click", ".wizard-actions button", function(){
        var currentOne = $('ul.wizard-steps li').index($('ul.wizard-steps li.active'));
        var tots = $('ul.wizard-steps li').length;
        if ( currentOne == tots-1 ) {
            $('.wizard-actions .btn-next').hide();
            $(".wizard-actions .btn-finish").show();
        }
        });
});

</script>

<script type="text/javascript">
function capitaliseFirstLetter(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}

$(function () {
$(document).ready(function(){
$("body").off("click", "a.add_nested_fields_link");
$("body").on("click", "a.add_nested_fields_link", function(){
	var n = $(".wizard-steps li").length+1;
	var m = $(".wizard-steps li").length;
  var j = $(".nested_fields").length+1;
  var o = $(".nested_fields").length;

	$('ul.wizard-steps').append('<li data-target="#step'+n+'"><span class="step">'+m+'</span><span class="title">Set '+m+' <br> information</span></li>');
	
	 var itis = $('#agenda_exercise_id option:selected').text();
   var itise = capitaliseFirstLetter(itis)
$( ".nested_fields" ).find("#step0").last()
 
  .prepend('<h3> Set #'+o+' - '+itise+' </h3><br><br>')
  .attr( "id", function(  ) {

    return "step" + j;

  });


  var n = 0;
  var m = 0;

  
  
});

});
});



</script>

