<ul class="users">
  <% if @exercises.any? %>
    <% @exercises.each do |exercise| %>
    <li style="float:left" class="thumbnail">
      <% if exercise.exercise_id != nil %>
              <%= Exercise.find(exercise.exercise_id).name.capitalize %>

      <% end %>
      <h2>Goal</h2>
     <p> Sets = <%= exercise.set %> </p>
     Reps = <%= exercise.rep %>
          <% if  exercise.id %><br>

          <%= form_for(Agenda.find(exercise.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Remove Exercise From Workout", class: "btn mybtn btn-xs btn-success" %>
<% end %>
<% end %>
<h2>Achieved</h2>




    </li>
  <% end %>
  <% else %>
  <p>no exercises for this workout</p>
 <% end %>
  
</ul>