<% if @exercises.count > 0 %>
  <% @countarr = [] %>
  <% @exercises.each_with_index do |exercise, index| %>
      <% if exercise.rotations.exists? %>
      <% @rcount = exercise.rotations.to_a.count %>
      <% @countarr << @rcount %>
      <% @rotations = exercise.rotations.to_a %>
      <% end %>
  <% end %>

<% @max = @countarr.max %>
 <!-- Users table -->
 

    <div class="col-md-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                
                <tr>

    <th class="col-md-2">Exercise</th>
    <% @max.times do |j| %>

    <th class="col-md-1.5">
        <span class="line"></span>Set # <%= j + 1 %>
    </th>
<% end %>
</tr>
</thead>

<tbody>

<% @exercises.each_with_index do |exercise, index| %>
    <% @rotations = exercise.rotations.to_a.sort_by {|x| x.created_at} %>
    <% @rcount = exercise.rotations.to_a.count %>

  <tr>

    <td style="min-width: 180px;" id="<%= exercise.id %>">
        <% if exercise.exercise_id != nil %>
    	<p class="pull-left" style="bottom: 4px; position: relative;"><%= Exercise.find(exercise.exercise_id).name.capitalize %></p>
        <i class="icon-remove" style="float: right; margin-top: 10px; color: #b85e80;font-size:18px; margin-right: 4px; cursor: pointer;"></i>
        <i class="icon-plus" style="float: right; margin-top: 10px; color: #96bf48;font-size:18px; margin-right:12px;cursor: pointer;"></i>
        
        <div style="display:none;" class="removeform">
            <%= form_for(Agenda.find(exercise.id),
                 html: { method: :delete },
                 remote: true) do |f| %>
              <%= f.submit "Remove", class: "btn-flat mybtn btn-xs danger", style: "float: right; margin-top: 8px;" %>
                    <% end %>
        </div>


        

        <% end %>
    </td>

<% @rotations.each_with_index do |rotation, ind| %>

    <td id="<%= rotation.id %>" class="editrotate"> 
      <%= rotation.amount %> <%= rotation.unit %>  <% if rotation.exwt != "" %>
                            <%= rotation.exwt %> pounds
                             <% end %>
                             
    </td>
    <% end %>

         <% unless @rcount == @max %>

                 <% @more = @max - @rcount %>

                <% @more.times do |it| %>

                <td></td>
                <% end %>

        <% end %>


    </tr>
  <% end %>
</tbody>


</table>

 

<% else %>

<p>No exercises yet</p>

<% end %>

