<% if @exercises.count > 0 %>
  <% @countarr = [] %>
  <% @exercises.each_with_index do |exercise, index| %>
      <% if exercise.rotations.exists? %>
      <% @rcount = exercise.rotations.to_a.count %>
      <% @countarr << @rcount %>
      <% @rotations = exercise.rotations.to_a %>
      <% end %>
  <% end %>

<% @max = @countarr.max %>
 <!-- Users table -->
 

    <div class="col-md-12 table-responsive">
      <h3 style="text-align: center; margin-bottom: 0px; display:none;" id="h3results">Enter Results</h3>
        <table class="table table-bordered" id="table2">
            <thead>
                
                <tr>

    <th class="col-md-2">Exercise</th>
    <% @max.times do |j| %>

    <th class="col-md-1.5">
        <span class="line"></span>Set # <%= j + 1 %>
    </th>
<% end %>
</tr>
</thead>

<tbody>

<% @exercises.each_with_index do |exercise, index| %>
    <% @rotations = exercise.rotations.to_a.sort_by {|x| x.created_at} %>
    <% @rcount = exercise.rotations.to_a.count %>

  <tr>

    <td style="min-width: 180px;" id="<%= exercise.id %>">
        <% if exercise.exercise_id != nil %>
    	<p class="pull-left" style="bottom: 4px; position: relative;"><%= Exercise.find(exercise.exercise_id).name.capitalize %></p>
        


        

        <% end %>
    </td>

<% @rotations.each_with_index do |rotation, ind| %>

    <td id="<%= rotation.id %>" class="editrotateresults"> 
      <%= rotation.amount %> <%= rotation.unit %>  <% if rotation.exwt != "" %>
                            <%= rotation.exwt %> pounds
                             <% end %>
                             
    </td>
    <% end %>

         <% unless @rcount == @max %>

                 <% @more = @max - @rcount %>

                <% @more.times do |it| %>

                <td></td>
                <% end %>

        <% end %>


    </tr>
  <% end %>
</tbody>


</table>

 

<% else %>

<div style="clear: both;"><p>No exercises yet</p></div>

<% end %>
</div>
