
        <div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>Workout for 

              <% @attends.each_with_index do |attend,i| %>
              <% unless i == @attends.length-1 %>
              <% if @attends.length > 2 %>
              <%= attend %>,
              <% else %>
              <%= attend %>
              <% end %>
              <% end %>

              <% end %>
              and <%= @last %>

               - <small style="margin-left: 0px;"><%= @appointment.start_at.strftime("%D  %I:%M%P")%>  - <%= @appointment.end_at.strftime("%I:%M%P") %></small></h3><br><br>
                <p><%= link_to "Return To Workout", workout_path(@workout) %></p>
              </div>
            </div>
                


<% if @exercises.any? %>

<% @exercises.each do |exercise| %>
<%  @rotations = exercise.rotations %>
 <!-- Users table -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
        	<h3><%= exercise.exercise.name.capitalize %></h3>
            <thead>
                <tr>

  <th class="col-md-2">
    <span class="line"></span>Set #
  </th>
  <th class="col-md-3">
    <span class="line"></span>Goal
  </th>
  
  <th class="col-md-3">
    <span class="line"></span>Amount Done
  </th>
  
</tr>
</thead>
<% @rotations.each_with_index do |rotation, index| %>




  <tr>

    <td>
      <%= index+1 %>
    </td>


    <td> 
         <%= rotation.amount %> <%= rotation.unit %> <% if rotation.exwt.present? %>
      with <%= rotation.exwt %> Pounds
      <% end %>
    </td>


    <td>
      <%= rotation.amountdone %> <%= rotation.unit %> <% if rotation.weightdone.present? %>
      <%= rotation.weightdone %> Pounds
      <% end %>
    </td>

  </tr>
</tbody>
<% end %>

</table>
 
<% end %>
<br>
<% else %>

<p>no results yet</p>

<% end %>
</div>
 







