
        <div id="pad-wrapper" class="users-list">
            <div class="row header">
               <div style=""><h3 style=" margin-bottom: 0px;"><% unless @appointment.present?%><%= link_to @client.name, client_path(@client) %><% else %>Workout for 


               <% if @attends.length == 1 %>
              <%= @last %>
              <% else %>


              <% @attends.each_with_index do |attend,i| %>
             

              <% if i == @attends.length-1 %>
              and <%= attend %>

              <% else %>

              <%= attend %>,
              <% end %>

               




              <% end %>
             


              <% end %>


              <% end %> </h3><br><br>
                <span class="subtext" style="color: #999999;"><%= @appointment.start_at.strftime("%D  %I:%M%P")%>  - <%= @appointment.end_at.strftime("%I:%M%P") %></span>
              </div>
                <p><%= link_to "Return To Workout", workout_path(@workout) %></p>
              </div>
            
                


<% if @exercises.any? %>

<% @exercises.each do |exercise| %>
<%  @rotations = exercise.rotations %>
 <!-- Users table -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
        	<h3><%= exercise.exercise.name.capitalize %></h3>
            <thead>
                <tr>

  <th class="col-md-2">
    <span class="line"></span>Set #
  </th>
  <th class="col-md-3">
    <span class="line"></span>Goal
  </th>
  
  <th class="col-md-3">
    <span class="line"></span>Amount Done
  </th>
  
</tr>
</thead>
<% @rotations.each_with_index do |rotation, index| %>




  <tr>

    <td>
      <%= index+1 %>
    </td>


    <td> 
      <% if rotation.amount.present? %>
         <%= rotation.amount %> <%= rotation.unit %> <% if rotation.exwt.present? %>
      with <%= rotation.exwt %> Pounds
      <% end %>
      <% else %>
      <p>No Result Entered</p>
      <% end %>
    </td>


    <td>
      <% if rotation.amountdone.present? %>
      <%= rotation.amountdone %> <%= rotation.unit %> <% if rotation.weightdone.present? %>
      with <%= rotation.weightdone %> Pounds
      <% end %>
      <% else %>
      No Result Entered
      <% end %>
    </td>

  </tr>
</tbody>
<% end %>

</table>
 
<% end %>
<br>
<% else %>

<p>no results yet</p>

<% end %>
</div>
 
</div>






