
<h2>Appointment starts at - <%= @appointment.start_at.strftime("%D  %I:%M%P")%> - <%= @appointment.end_at.strftime("%I:%M%P") %></h2>
<h2>Appointment for - <%= @client.name %></h2>

<div id="listing">

<%= render 'list' %>


</div>
 


<div style="clear:both"></div>


<%= render 'addworkout_form' if signed_in? %>








<%= link_to 'Edit', edit_workout_path(@workout) %>