     <div id="flash_msg">
      <%= render 'flmsg' %>
     </div>

     
    <div id="pad-wrapper" class="users-list">
            <div class="row header">


            <h3><% unless @appointment.present?%><%= link_to @client.name, client_path(@client) %><% else %><h3>Workout for 

              <% @attends.each_with_index do |attend,i| %>
              <% unless i == @attends.length-1 %>
              <% if @attends.length > 2 %>
              <%= attend %>,
              <% else %>
              <%= attend %>
              <% end %>
              <% end %>

              <% end %>
              and <%= @last %>

              <% end %> - <small style="margin-left: 0px;"><%= @appointment.start_at.strftime("%D  %I:%M%P")%>  - <%= @appointment.end_at.strftime("%I:%M%P") %></small></h3>
                <div class="col-md-12 col-sm-12 col-xs-12 pull-right  keep-open" id="hapit" style="padding-top: 10px;">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    

                    <a href="<%= results_workout_path(@workout) %>" class="btn-flat btn-warning pull-left text-center" id="spacer3" style="height:33px;" data-no-turbolink>
                        SHOW WORKOUT RESULTS
                    </a>



                    
                    <%= form_tag(email_workout_path, remote: true) do  %>

                   

                    <div>
                  <%= submit_tag "EMAIL WORKOUT TO CLIENTS", class: "btn-flat primary pull-right", id: "spacer2", style: "margin-left:20px;height:33px;" %>
                    </div>

                    <% end %>
                    





                    

                    <a href="#" class="btn-flat success pull-right dropdown-toggle text-center" data-toggle="dropdown" id="spacer">
                        <span>&#43;</span>
                        ADD EXERCISE
                    </a>
                    <div class="dropdown-menu dropdown-menu1" style = "padding: 15px; padding-bottom: 10px; z-index: 10000; width: 100%;">
                     <div id="new_agendar">

                      <% if current_user.exercises.any? %>
                        <%= render 'addworkout_form' if signed_in? %>
                        <% else %>
                        <p>You must have existing exercises before creating a workout.  Click <%= link_to "exercises", exercises_path %> to create your first exercise.</p>
                        <% end %>

						



						</div>
                      </div>
                </div>


            </div>


		 


			<div id="listing">

			<%= render 'list' %>


			</div>
 




                
            </div>
        </div>

<script>
 $(document).ready(function()
 {
  $(document).on('click', function(){
     $('.keep-open').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu1');
  $('body').on('click', '.dropdown-menu1', function(e) {
        $('.keep-open').data('closable', false);
    });
  $('body').off('click', '.wizard-actions :submit');
  $('body').on('click', '.wizard-actions :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

});

 $(document).ready(function(){
  $('.agenda.exerciseBox#new_agenda').remove();
 });



var setAtt = function(){

   $(document).on('click', function(){
     $('.keep-open2').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu2');
  $('body').on('click', '.dropdown-menu2', function(e) {
        $('.keep-open2').data('closable', false);
    });
  $('body').off('click', '.sticker2 :submit');
  $('body').on('click', '.sticker2 :submit', function(e) {
        $('.keep-open2').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open2').off('hide.bs.dropdown');
   $('.keep-open2').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });



   $(document).on('click', function(){
     $('.keep-open3').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu3');
  $('body').on('click', '.dropdown-menu3', function(e) {
        $('.keep-open3').data('closable', false);
    });
  $('body').off('click', '.sticker3 :submit');
  $('body').on('click', '.sticker3 :submit', function(e) {
        $('.keep-open3').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open3').off('hide.bs.dropdown');
   $('.keep-open3').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });




}

setAtt();


 
  </script>




