    <div id="pad-wrapper" class="users-list">
            <div class="row header">

            <h3><%= @client.name %> - <small style="margin-left: 0px;"><%= @appointment.start_at.strftime("%D  %I:%M%P")%>  - <%= @appointment.end_at.strftime("%I:%M%P") %></small></h3><br><br>
            <p data-no-turbolink><%= link_to "See Workout Results", results_workout_path(@workout) %></p>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right  keep-open" id="hapit">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    




                    

                    <a href="#" class="btn-flat success pull-right dropdown-toggle" data-toggle="dropdown" id="spacer">
                        <span>&#43;</span>
                        ADD EXERCISE
                    </a>
                    <div class="dropdown-menu" style = "padding: 15px; padding-bottom: 10px; z-index: 10000; width: 100%;">
                     <div id="new_agendar">

                      <% if current_user.exercises.any? %>
                        <%= render 'addworkout_form' if signed_in? %>
                        <% else %>
                        <p>You must have existing exercises before creating a workout.  Click <%= link_to "exercises", exercises_path %> to create your first exercise.</p>
                        <% end %>

						



						</div>
                      </div>
                </div>


            </div>


		 


			<div id="listing">

			<%= render 'list' %>


			</div>
 




                
            </div>
        </div>

<script>
 $(document).ready(function()
 {
  $(document).on('click', function(){
     $('.keep-open').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu');
  $('body').on('click', '.dropdown-menu', function(e) {
        $('.keep-open').data('closable', false);
    });
  $('body').off('click', '.wizard-actions :submit');
  $('body').on('click', '.wizard-actions :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });
  });

 $(document).ready(function(){
  $('.agenda.exerciseBox#new_agenda').remove();
 });
  </script>




