     <div id="flash_msg">
      <%= render 'flmsg' %>
     </div>

     
    <div id="pad-wrapper" class="users-list" style="padding: 0px 20px; margin-top: 25px;">


<div class="col-md-12 col-sm-12 col-xs-12 pull-right  keep-open" id="hapit" style="padding-top: 10px;">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    





           <div style=" margin-bottom: 8px;
"><h3 style=" margin-bottom: 0px;"><% unless @appointment.present?%><%= link_to @client.name, client_path(@client) %><% else %>Workout for 


               <% if @attends.length == 1 %>
              <%= @last %>
              <% else %>


              <% @attends.each_with_index do |attend,i| %>
             

              <% if i == @attends.length-1 %>
              and <%= attend %>

              <% else %>

              <%= attend %>,
              <% end %>

               




              <% end %>
             


              <% end %>


              <% end %> </h3>
                <span class="subtext" style="color: #999999;"><%= @appointment.start_at.strftime("%D  %I:%M%P")%>  - <%= @appointment.end_at.strftime("%I:%M%P") %></span>
              </div>





                    <a href="#" class="btn-flat success pull-right dropdown-toggle text-center" id="addexercise" data-toggle="dropdown" >
                        ADD EXERCISE
                    </a>
                    <div class="dropdown-menu dropdown-menu1" style = "padding: 15px; padding-bottom: 10px; z-index: 10000;top:39px;width:325px">
                     <div id="new_agendar">

                      <% if current_user.exercises.any? %>
                        <%= render 'addworkout_form' if signed_in? %>
                        <% else %>
                        <p>You must have existing exercises before creating a workout.  Click <%= link_to "exercises", exercises_path %> to create your first exercise.</p>
                        <% end %>

                      </div>
                    </div>

                    <a class="btn-flat btn-warning pull-left text-center" id="enterresults" style="margin-right: 22px;">
                        ENTER RESULTS
                    </a>

                     <a class="btn-flat btn-info pull-left text-center" id="workoutbuilder" style="margin-right: 22px; display:none;">
                        WORKOUT BUILDER
                    </a>

                     <a href="<%= results_workout_path(@workout) %>" class="btn-flat btn-primary pull-right text-center" id="viewresults" style="display:none;">
                        VIEW RESULTS
                    </a>






            <div class="row header">


                           
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    

                  
                </div>


            </div>


  <div id="listing2" style="display:none;">

      <%= render 'newlist2' %>


      </div>


			<div id="listing">

			<%= render 'newlist' %>


			</div>



    
 




                
            </div>
        </div>

<script>
 $(document).ready(function()
 {
  $(document).on('click', function(){
     $('.keep-open').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu1');
  $('body').on('click', '.dropdown-menu1', function(e) {
        $('.keep-open').data('closable', false);
    });
  $('body').off('click', '.wizard-actions :submit');
  $('body').on('click', '.wizard-actions :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

});

 $(document).ready(function(){
  $('.agenda.exerciseBox#new_agenda').remove();
 });



var setAtt = function(){

   $(document).on('click', function(){
     $('.keep-open2').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu2');
  $('body').on('click', '.dropdown-menu2', function(e) {
        $('.keep-open2').data('closable', false);
    });
  $('body').off('click', '.sticker2 :submit');
  $('body').on('click', '.sticker2 :submit', function(e) {
        $('.keep-open2').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open2').off('hide.bs.dropdown');
   $('.keep-open2').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });



   $(document).on('click', function(){
     $('.keep-open3').data('closable', true);
  });
  $('body').off('click', '.dropdown-menu3');
  $('body').on('click', '.dropdown-menu3', function(e) {
        $('.keep-open3').data('closable', false);
    });
  $('body').off('click', '.sticker3 :submit');
  $('body').on('click', '.sticker3 :submit', function(e) {
        $('.keep-open3').data('closable', true);
        $('#hapit').removeClass('open');
    });
   //Handles menu drop down`enter code here`
   $('.keep-open3').off('hide.bs.dropdown');
   $('.keep-open3').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });




}

setAtt();


$('#table1 tr:even').css('background-color', 'rgba(202, 201, 201, 0.34)');
$('#table1 tr:first').css('background-color', 'rgba(217, 237, 247, 0.66)');
$('#table2 tr:even').css('background-color', 'rgba(202, 201, 201, 0.34)');
$('#table2 tr:first').css('background-color', 'rgba(217, 237, 247, 0.66)');
 
  </script>

<script type="text/javascript">

$(document).ready(function() {

  $('body').off('click','.icon-plus');
  $('body').on('click','.icon-plus',function(){





     var rot2 = $(this).parent('td').attr('id');
     console.log(rot2)
      $.when($.ajax({
                          data: {rotid: rot2 },
                          url: "/rotations/newrotate",
                          success: function(data) {
                            $("#new_rotation").html(data["form"]);

                          }})).then(



      
        $(this).popover({
          title: "Add Set To Exercise",
          width: 500,
          animation: false,
          trigger: 'manual',
          container: 'body',
          placement: 'top',
          content: "<div id='new_rotation'></div>",
          html: true,
          template: '<div class="popover" style="width:500px" role="tooltip"><h3 class="popover-title" style="text-align: center;"></h3><div class="popover-content"></div></div>'
        }).popover('show')


                          );


  });




  $('body').off('click','.icon-remove');
  $('body').on('click','.icon-remove',function(){
    $(this).siblings('.removeform').children('form').trigger("submit.rails");
  });


  $('body').off('click','#enterresults');
  $('body').on('click','#enterresults',function(){
    $('#enterresults').css('display','none');
    $('#addexercise').css('display','none');
    $('#workoutbuilder').css('display','inline-block');
    $('#viewresults').css('display','inline-block');
    $('#h3results').css('display','block');
    $('#h3build').css('display','none');
    $('.table-responsive').effect("highlight", {}, 3000);
    $('#h3results').effect("highlight", {}, 3000);
    $('#listing').css('display','none');
    $('#listing2').css('display','block');
  });

  $('body').off('click','#workoutbuilder');
  $('body').on('click','#workoutbuilder',function(){
    $('#enterresults').css('display','inline-block');
    $('#addexercise').css('display','inline-block');
    $('#workoutbuilder').css('display','none');
    $('#viewresults').css('display','none');
    $('#h3results').css('display','none');
    $('#h3build').css('display','block');
    $('.table-responsive').effect("highlight", {}, 3000);
    $('#h3build').effect("highlight", {}, 3000);
    $('#listing').css('display','block');
    $('#listing2').css('display','none');

  });

  $('.icon-plus').hover(function(){
    $(this).tooltip({
      title: "Add Set To Exercise",
      animation: false,
      trigger: 'manual',
      container: 'body',
      placement: 'top',
      html: true,
      template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
    }).tooltip('toggle')
  });

   $('.icon-remove').hover(function(){
    $(this).tooltip({
      title: "Remove Exercise From Workout",
      animation: false,
      trigger: 'manual',
      container: 'body',
      placement: 'top',
      html: true,
      template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
    }).tooltip('toggle')
  });






$("body").on("click", function (e) {

    if ($(e.target).is(".editrotate")) {
        $('#hapit').removeClass('open');
        e.stopPropagation();
    } else if ($(e.target).is(".icon-plus")) {
      $('#hapit').removeClass('open');
        e.stopPropagation();
    } else if ($(e.target).is(".editrotateresults")) {
      $('#hapit').removeClass('open');
        e.stopPropagation();
    }else {
      $('.editrotate').popover('destroy');
      $('.icon-plus').popover('destroy');
      $('.editrotateresults').popover('destroy');
    }



});

        


$('body').off('click', '.editrotate');
$('body').on('click', '.editrotate', function(e){
  $('.editrotate').popover('destroy');
  $('.icon-plus').popover('destroy');
  $('.editrotateresults').popover('destroy');
  var rot = $(this).attr('id');
  $.when($.ajax({
                      data: {rotid: rot },
                      url: "/rotations/" + rot + "/editdata",
                      success: function(data) {
                        $("#edit_agenda_description").html(data["form"]);

                      }})).then(



  
    $(this).popover({
      title: "Edit Exercise",
      width: 500,
      animation: false,
      trigger: 'manual',
      container: 'body',
      placement: 'top',
      content: "<div id='edit_agenda_description'></div>",
      html: true,
      template: '<div class="popover" style="width:500px" role="tooltip"><h3 class="popover-title" style="text-align: center;"></h3><div class="popover-content"></div></div>'
    }).popover('show')


                      );
                        });






    $('body').off('click', '.editrotateresults');
    $('body').on('click', '.editrotateresults', function(e){
      $('.editrotate').popover('destroy');
      $('.icon-plus').popover('destroy');
      $('.editrotateresults').popover('destroy');
      var rot = $(this).attr('id');
      $.when($.ajax({
                          data: {rotid: rot },
                          url: "/rotations/" + rot + "/enterresults",
                          success: function(data) {
                            $("#enter_rotate_results").html(data["form"]);
                            var newweight = $('#rotation_exwt').val();
                          $('#rotation_weightdone').val(newweight);
                          var newamount = $('#rotation_amount').val();
                          $('#rotation_amountdone').val(newamount);

                          }})).then(



      
        $(this).popover({
          title: "Enter Results For Exercise",
          width: 500,
          animation: false,
          trigger: 'manual',
          container: 'body',
          placement: 'top',
          content: "<div id='enter_rotate_results'></div>",
          html: true,
          template: '<div class="popover" style="width:500px" role="tooltip"><h3 class="popover-title" style="text-align: center;"></h3><div class="popover-content"></div></div>'
        }).popover('show')

       


                          );


                            });








});


$(document).ready(function(){

       
        

         
       

       
});


</script>


