<%= form_for(@rotation, html: { :class => "form-horizontal" }, remote: true) do |f| %>

                               <div class="form-group">
                                <%= f.label :amount, :class => "col-md-2 control-label", :id => "amount_lab" %>
                                  <div class="col-md-8">
                                  <%= f.text_field :amount, :class => "form-control place_text", :placeholder => "Amount" %>
                                </div>
                              </div>

                              

                              <div class="form-group unvis">
                                <%= f.label :unit, :class => "col-md-2 control-label" %>
                                <div class="col-md-8">
                             
                                  <% @formlist = ["seconds","minutes","hours","inches","feet","miles","reps"] %>
                             
                                <%= f.select :unit, @formlist.map { |value| [ value, value ] }, :class => "form-control", :placeholder => "Unit" %>
                                </div>
                              </div>

                            
                              

                              <div class="form-group mkvis">
                                  <%= f.label :exwt, "Weight Added", :class => "col-md-2 control-label" %>
                                  <div class="col-md-8">
                                  <%= f.text_field :exwt, :class => "form-control", :placeholder => "Weight Added" %>
                                </div>
                              </div>

                        

                       

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                              <%= f.submit "Edit Set", class: "btn mybtn btn-large btn-primary" %>
                            </div>
                        </div>
                              <% end %>



