<div class="headerers">
        <a href="<%= root_url %>">
            <%= image_tag "logo.png" %>
        </a>
    </div>

<div class="login-wrapper">
        

        <div class="box">
            <div class="content-wrap">
                <h6>Sign up</h6>
                



                
                <%= form_for(resource, :as => resource_name, :html => {:id => "new_person"}, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <% flash.each do |name, msg| %>
                    <% if msg.class == Array %>
                      <% msg.each do |message| %>
                        <%= content_tag :div, message, class: "alert alert-#{name}" %>
                      <% end %>
                    <% else %>

                      
                      <%= content_tag :div, msg, :class => " alert alert-#{name}" %>

                    <% end %>
                  <% end %>

                  <div><%= text_field_tag :name, nil, :placeholder => "Name", :autofocus => true, :class => "form-control" %></div>

                <div><%= f.email_field :email, :class => "form-control", :placeholder => "E-mail address" %></div>

				<div><%= f.password_field :password, :class => "form-control", :placeholder => "Your password" %></div>

				<div><%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Your password" %></div>


                  <%= hidden_field_tag 'user_type', 'trainer' %>
				  
				<div><%= f.submit "Sign up" , :class => 'btn-glow primary login'%></div>
				<% end %>

            </div>
        </div>

  

        <div class="no-account">
            <p>Already have an account?</p>
            <a href="<%= new_user_session_path %>">Sign in</a>
        </div>
    </div>








