<div class="headerers">
        <a href="<%= root_url %>">
            <%= image_tag "logo.png" %>
        </a>
    </div>

<div class="login-wrapper">
        

        <div class="box">
            <div class="content-wrap">
                <h6>Create Your Account</h6>
                



                
                <%= form_for(resource, :as => resource_name, :html => {:id => "new_person"}, :url => user_registration_path) do |f| %>
                <%= devise_error_messages! %>

                <% flash.each do |name, msg| %>
                    <% if msg.class == Array %>
                      <% msg.each do |message| %>
                        <%= content_tag :div, message, class: "alert alert-#{name}" %>
                      <% end %>
                    <% else %>

                      
                      <%= content_tag :div, msg, :class => " alert alert-#{name}" %>

                    <% end %>
                  <% end %>


                <div style="margin-bottom: 30px;"><%= f.email_field :email, :class => "form-control", :placeholder => "E-mail address" %></div>

				<div><%= f.password_field :password, :class => "form-control", :placeholder => "Your password" %></div>

				<div style="margin-bottom: 30px;"><%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Your password" %></div>


                  <%= f.hidden_field :role, value: 'Trainer' %>
				  
				<div><%= f.submit "Sign up" , :class => 'btn-glow primary login'%></div>
				<% end %>

            </div>

            <div style="padding-top: 24px; border-top: 1px solid #d6d3d3; margin-top: 24px;">

              <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; width: 70%; margin: 0 auto;">By creating an account you agree to our <a href="#">Terms Of Use</a> and <a href="#">Privacy Policy</a>.</p>

            </div>

        </div>

  

        <div class="no-account">
            <p>Already have an account?</p>
            <a href="<%= new_user_session_path %>">Sign in</a>
        </div>
    </div>








