<%= form_for(@client, html: { :class => "form-horizontal" }, remote: true) do |f| %>

                        <div class="form-group">
                              <%= f.label :name, :class => "col-md-2 control-label" %>
                              <div class="col-md-8">
                              <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
                            </div>
                        </div>

                        <div class="form-group">
                              <%= f.label :age, :class => "col-md-2 control-label" %>
                              <div class="col-md-8">
                              <%= f.number_field :age, :class => "form-control", :placeholder => "Age" %>
                            </div>
                        </div>

                        <div class="form-group">
                              <%= f.label :gender, :class => "col-md-2 control-label" %>
                              <div class="col-md-8">
                              <%= f.text_field :gender, :class => "form-control", :placeholder => "Gender" %>
                            </div>
                        </div>

                        <div class="form-group">
                              <%= f.label :email, :class => "col-md-2 control-label" %>
                              <div class="col-md-8">
                              <%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
                            </div>
                        </div>

                        <div class="form-group">
                              <%= f.label :phone, :class => "col-md-2 control-label" %>
                              <div class="col-md-8">
                              <%= f.phone_field :phone, :class => "form-control", :placeholder => "Phone" %>
                            </div>
                        </div>

                       

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                              <%= f.submit "Save Changes", class: "btn mybtn btn-large btn-primary" %>
                            </div>
                        </div>
                              <% end %>