
        <div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>Appointments for <%= @client.name %></h3>
              </div>
            </div>
                


<% if current_user.clients.count > 0 %>



 <!-- Users table -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>

  <th class="col-md-2">
    <span class="line"></span>Starts At
  </th>
  <th class="col-md-2">
    <span class="line"></span>Ends At
  </th>
  
  <th class="col-md-3">
    <span class="line"></span>Workout
  </th>
  <th class="col-md-3">
    <span class="line"></span>Remove
  </th>
</tr>
</thead>
<% @appointments.each do |appointment| %>




  <tr>

    <td>
      <%= appointment.start_at.strftime("%D   %I:%M%P") %>
    </td>


    <td> 
        <%= appointment.end_at.strftime("%D   %I:%M%P") %>
    </td>


    <td>
      <% if appointment.start_at > Time.now %>

        <% if appointment.workout.present? %>


        <%= link_to 'View Upcoming Workout', workout_path(appointment.workout.id) %>

        <% else %>

        <%= link_to 'Add Workout To This Appointment', new_workout_path(:id => appointment.id ) %></td>

        <% end %>

      <% else %>

      <%= link_to 'View Results From This Workout', '#' %>

      <% end %>

    <td>
      <%= link_to 'Delete This Appointment', appointment, :confirm => 'Are you sure?', :method => :delete %>
    </td>

  </tr>
</tbody>
<% end %>

</table>
 

<% else %>

<p>no clients here</p>

<% end %>
</div>
 







