<% flash.each do |name, msg| %>

                    <% if msg.class == Array %>
                      <% msg.each do |message| %>
                        <%= content_tag :div, message, class: "alert alert-#{name}" %>
                      <% end %>
                    <% else %>

                      
                      <%= content_tag :div, msg, :class => " alert alert-#{name}" %>

                    <% end %>
                  <% end %>

 <div id="flashtest">

</div>


        <div id="pad-wrapper" class="users-list" style="margin-top: 20px;">
            <div class="row header" style="margin-bottom:20px;">
                <h3 style="margin-bottom: 10px; margin-left: 26px; width:114px; display:inline;">My Clients




                </h3>
          
                
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right" id="hapit" style="width:160px;">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->


                    <div style="display:none;">

                    <div class="ui-dropdown">
                        <div class="head" data-toggle="tooltip" title="Click me!">
                            Find a client
                            <i class="arrow-down"></i>
                        </div>  
                        <div class="dialog">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <div class="body" id="search">
                                <%= search_form_for @search, html: { :class => "form-inline" }, url: search_clients_path, method: :post do |f| %>
                                     <div class="form-group">
                                          <%= f.text_field :name_cont, :class => "form-control", :id => "searcher", :placeholder => "Name Contains"%>
                                     </div>
                                     <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                          <%= f.submit "Search", class: "btn mybtn btn-large btn-primary", :id => "sizebtn", :style => "padding: 4px 12px;" %>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>



                        <div class="ui-dropdown">
                        <div class="head" id="nopp">
                            <%= link_to "Show All Clients", clients_path %>
                            </div>
                        </div>

                      </div><!--  Closing out display none for find and all  -->


                        <a href="#" class="btn-flat success pull-right dropdown-toggle" data-toggle="dropdown" id="spacer" style="margin:0;">
                        <span>&#43;</span>
                        NEW CLIENT
                    </a>
                    
                    

                    
                    <div class="dropdown-menu" id="hundreder" style = "padding: 15px; padding-bottom: 0px; width:318px;">
                     <div>
                        <%= render 'form' if signed_in? %>
                        </div>
                      </div>
                </div>
            </div>

<div class="row">
<div id="clchart">
<%= render "clients/clientchart" %>
</div>
</div>
 <div class="col-md-3 form-sidebar" style="float: right;">
                    <div class="alert alert-info">
                        <i class="icon-lightbulb pull-left"></i>
                        Enter Multiple Clients At Once (upload excel or csv file)
                    </div>                        
                    <h6><b>First row must be the column name.</b></h6>
                    <p>The following columns are allowed</p>
                    <ul>
                      <li>name</li>
                      <li>age - must be a number</li>
                      <li>gender - either m or f</li>
                      <li>email</li>
                      <li>phone</li>
                    </ul>
                    <%= form_tag import_clients_path, multipart: true do %>
                      <%= file_field_tag :file %>
                      <%= submit_tag "Import", class: "btn mybtn btn-large btn-primary" %>
                    <% end %>
                
           </div>
        
</div>


<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`
   $('.dropdown-menu').click(function(e) {
        e.stopPropagation();
    });
 });
  </script>
