<div id="pad-wrapper" class="users-list" style="margin-top:30px;">
            <div class="row header">
              <div class="col-md-9 col-sm-7 col-xs-12" style="margin-bottom:30px;">

                 <% if current_user.rolable_type == "Trainer" %>
                <h3 style="margin-bottom:0px;">Progress for <%= @client.name.capitalize %></h3>
                <div style="clear:both;">
                  <%= link_to "Return To Client Profile", client_path(@client) %>
                </div>
                <% else %>
                  <h3 style="margin-bottom:0px;">View Your Progress</h3>
                  <div style="clear:both;">
                     <%= link_to "Return To Your Profile", edit_user_registration_path %>
                  </div>
                 
                <% end %>

              </div>
             
                <div class="col-md-3 col-sm-5 col-xs-12  keep-open" id="hapit">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    



                    

                    
                     <div>
                      <% if current_user.rolable_type == "Trainer" %>
                        <% if current_user.rolable.exercises.any? %>
                        <%= render 'progform' if signed_in? %>
                        <% else %>
                        <p>You must have existing exercises before checking their progress.  Click <%= link_to "exercises", exercises_path %> to create your first exercise.</p>
                        <% end %>
                      <% else %>
                        <% if current_user.rolable.trainer.exercises.any? %>
                        <%= render 'progformclient' if signed_in? %>
                        <% else %>
                        <p>You must have existing exercises before checking their progress.  Click <%= link_to "exercises", exercises_path %> to create your first exercise.</p>
                        <% end %>
                      <% end %>

                      </div>
                </div>
            </div>




<div class="row">
<div id="prog">
<%= render "prog" %>
</div>
</div>
 
</div>




<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`

    $(document).on('click', function(){
     $('.keep-open').data('closable', true);
     
  });
  $('body').off('click', '.dropdown-menu');
  $('body').on('click', '.dropdown-menu', function(e) {
        $('.keep-open').data('closable', false);
        
    });
  $('body').off('click', '.attachs :submit');
  $('body').on('click', '.attachs :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
        
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

 });
  </script>


