<div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>Progress for <%= @client.name.capitalize %></h3><br><br>
                <%= link_to "Return To Client Profile", client_path(@client) %>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right keep-open" id="hapit">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    



                    

                    <a href="#" class="btn-flat success pull-right dropdown-toggle" data-toggle="dropdown" id="spacer">
                        <span>&#43;</span>
                        Exercise
                    </a>
                    <div class="dropdown-menu" style = "padding: 10px 20px;">
                     <div>

                        <% if current_user.rolable.exercises.any? %>
                        <%= render 'progform' if signed_in? %>
                        <% else %>
                        <p>You must have existing exercises before checking their progress.  Click <%= link_to "exercises", exercises_path %> to create your first exercise.</p>
                        <% end %>

                        </div>
                      </div>
                </div>
            </div>




<div class="row">
<div id="prog">
<%= render "prog" %>
</div>
</div>
 
</div>




<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`

    $(document).on('click', function(){
     $('.keep-open').data('closable', true);
     
  });
  $('body').off('click', '.dropdown-menu');
  $('body').on('click', '.dropdown-menu', function(e) {
        $('.keep-open').data('closable', false);
        
    });
  $('body').off('click', '.attachs :submit');
  $('body').on('click', '.attachs :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
        
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

 });
  </script>


