<div id="pad-wrapper" class="user-profile">
            <!-- header -->
            <div class="row header">
                <div class="col-md-8">
                    <h3 class="name"><%= @client.name %></h3>
                    <span class="area"><%= @client.email %></span>
                </div>

                <div class="col-md-4">
                <a class="btn-flat icon pull-right delete-user" data-toggle="tooltip" title="Delete Client" data-placement="top" data-confirm="You sure?" data-method="delete" rel="nofollow" href="<%= client_path %>">
                    <i class="icon-trash"></i>
                </a>



                 <a href="<%= progress_client_path(@client) %>" class="btn-flat icon large pull-left edit" id="spacer">
                        View Client Progress
                    </a>
                    


                <div class="dropdown pull-right" id="hapit">
                 <a href="#"class="btn-flat icon large pull-right edit dropdown-toggle" data-toggle="dropdown">
                    Edit This Client
                </a>
                    <div class="dropdown-menu" style = "padding: 15px; padding-bottom: 0px; min-width: 350px;">
                     <div id="editcl">
                        <%= render 'formedit' if signed_in? %>
                        </div>
                      </div>
                  </div>
                  </div>


            </div>

            <div class="row profile">
                <!-- bio, new note & orders column -->
                <div class="col-md-9 bio">
                    <div class="profile-box">
                        <!-- biography -->
                        <div id="cldets">
                            <%= render "cldet" %>
                        </div>
                        

                        <h6>Recent Appointments</h6><p><%= link_to "view all appointments for this client", appointments_client_path %></p>
                        <br>
                        <!-- recent orders table -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-5">
                                        Date
                                    </th>
                                    <th class="col-md-3">
                                        <span class="line"></span>
                                        Workout
                                    </th>
                                    
                                    <th class="col-md-3 pull-right">
                                        <span class="line"></span>
                                        Results
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @appointments.each do |appointment| %>
                                <!-- row -->
                                <tr class="first">
                                    <td>
                                        <%= appointment.start_at.strftime("%D") %>
                                    </td>
                                    <td>
                                        <% if Workout.find_by(appointment_id: appointment.id) %>
                                        <% @id = Workout.find_by(appointment_id: appointment.id) %>
                                        <%= link_to "View Workout", workout_path(@id) %>
                                        <% else %>
                                        <%= link_to 'Add Workout To This Appointment', new_workout_path(:id => appointment.id ) %>
                                        <% end %>
                                    </td>
                                    <td class="pull-right">
                                        <% if appointment.workout != nil %>
                                        <% @workout = appointment.workout %>
                                        
                                        <%= link_to "View Results", results_workout_path(@workout) %>
                                        <% else %>
                                        no workout yet
                                        <% end %>
                                    </td>
                                   
                                </tr>
                               
                            </tbody>
                            <% end %>
                        </table>

<br><br>

<h6>Recent Notes</h6><p><%= link_to "view all notes for this client", notes_client_path %></p>
                        <div id="notetable">
                            <%= render 'notetab' %>
                        </div>

                        







                        <!-- new comment form -->
                        <div class="col-md-12 section comment" style="margin-top:0px;">
                            <h6>Add a quick note</h6>
                            <p>Add a note about this client to keep a history of your interactions.</p>
                            


                            <%= render 'newnote' %>


                        </div>
                    </div>
                </div>

                
            </div>
        </div>



<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`
   $('.dropdown-menu').click(function(e) {
        e.stopPropagation();
    });
 });
  </script>

