<div class="headerers">
        <a href="<%= root_url %>">
            <%= image_tag "logo.png" %>
        </a>
    </div>

<div class="login-wrapper">
        

        <div class="box">
            <div class="content-wrap">
                <h6>Sign in</h6>
                <%= form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>


                <% flash.each do |name, msg| %>

                    <% if msg.class == Array %>
                      <% msg.each do |message| %>
                        <%= content_tag :div, message, {class: "alert alert-#{name}", style: "background-color: #f2dede;border-color: #ebccd1;color: #a94442;"} %>
                      <% end %>
                    <% else %>

                    <%= content_tag :div, msg, {:class => "alert alert-#{name}", style: "background-color: #f2dede;border-color: #ebccd1;color: #a94442;"} %>

                    <% end %>
                  <% end %>


                <div><%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "E-mail address" %></div>

				<div><%= f.password_field :password, :class => "form-control", :placeholder => "Your password" %></div>

				  <% if devise_mapping.rememberable? -%>
				    <div> <%= f.label :remember_me , :class => '.checkbox-inline'%><%= f.check_box :remember_me, :class => '.checkbox-inline', :style => 'width: 20%;' %></div>
				  <% end -%>

				<div><%= f.submit "Sign in" , :class => 'btn-glow primary login'%></div>
				<% end %>

            </div>
        </div>

        <div class="no-account">
            <p>Don't have an account?</p>
            <a href="<%= new_user_registration_path %>">Sign up</a>
        </div>
    </div>