<%= form_for(Appointment.new, html: { :class => "form-horizontal" }, remote: true) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

   <div class="form-group">
    <%= f.label :client, "Clients", :class => "col-md-2 control-label", :style => "text-align:center;" %>
      <%= f.collection_select :client_id, current_user.clients, :id, :name, {:required => true}, :style => "padding-left: 15px; width:107%;", :multiple => "multiple" %>
  
  </div>

 <div class="form-group">
    <label class="col-md-2 control-label" style="max-width:200px;">Date</label>
                <div class='input-groupst date col-md-8' >
                    <input type='text' class="form-control" id='datetimepicker3' style="border-radius: 5px; cursor: pointer;" />
                    
            </div>
    </div>

 

  <div class="form-group">
    <label class="col-md-2 control-label" style="max-width:200px;">Start Time</label>
                <div class='input-groupst date col-md-8' >
                    <input type='text' class="form-control" id='datetimepicker1' style="border-radius: 5px; cursor: pointer;" />
                    
            </div>
    </div>

  <div class="form-group" style="display:none">
    <%= f.label :start_at,"Start Time", :class => "col-md-2 control-label" %>
    <div class="col-md-8 select2-container select2">
      <%= f.datetime_select :start_at %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" style="max-width:200px;">End Time</label>
                <div class='input-groupst date col-md-8'>
                    <input type='text' class="form-control" id='datetimepicker2' style="border-radius: 5px; cursor: pointer;" />
            </div>
    </div>

  <div class="form-group" style="display:none">
    <%= f.label :end_at, "End Time", :class => "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.datetime_select :end_at %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description,"Notes", :class => "col-md-2 control-label", :style => "border-radius: 5px;" %>
    <div class="col-md-8">
      <%= f.text_area :description, :style => "width: 235px; border-radius: 5px;" %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <%= f.submit "Create appointment", class: "btn mybtn btn-large btn-primary" %>
      </div>
  </div>
<% end %>

