

<%= form_for(Appointment.new, html: { :class => "form-horizontal", :id => "new_appointment2" }, remote: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if false %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% end %>


  <div class="form-group">
    <label class="col-md-2 control-label" style="width: 100%; text-align: center;">What would you like to add?</label>
                <div class='input-groupst date col-md-8' >
                    <%= select_tag "type2", "<option value='1'>Session or Class</option><option value='2'>Unavailable Time</option>".html_safe, prompt: " ", class: "btn btn-default btn-sizers", style: "color: #333333; background-color: #ebebeb; border-color: #adadad;text-indent: 52px;height:34px;"%>
                    
            </div>
    </div>


  <div class="form-group" id="canadd22" style="display:none;">
    <label class="col-md-2 control-label" style="width: 100%; text-align: center;">Can clients join this session?</label>
                <div class='input-groupst date col-md-8' >
                    <%= select_tag "canadd2", "<option value='1'>Yes</option><option value='2'>No</option>".html_safe, prompt: " ", class: "btn btn-default btn-sizers", style: "color: #333333; background-color: #ebebeb; border-color: #adadad;text-indent: 88px;height:34px;width: 244px; margin-left: 2px; min-width: 244px;"%>
                    
            </div>
    </div>



    <div class="form-group" id="totaladd22" style="display:none;">
    <label class="col-md-2 control-label" style="width: 100%; text-align: center;">Total # allowed in sessioin?</label>
                <div class='input-groupst date col-md-8' >
                    <%= select_tag "totaladd2", "<option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option>".html_safe, prompt: " ", class: "btn btn-default btn-sizers", style: "color: #333333; background-color: #ebebeb; border-color: #adadad;text-indent: 100px;height:34px; width: 244px; margin-left: 2px; min-width: 244px;"%>
                    
            </div>
    </div>

  

   <div class="form-group" id="clientchoose22" style="display:none;">
    <%= f.label :client, "Clients", :class => "col-md-2 control-label", :style => "text-align:center; ;margin-right:34px;width:100%;" %>
      <%= f.collection_select :client_id, current_user.rolable.clients.order_by_name, :id, :name, {:required => true}, :class => "multisel", :style => "width: 244px; left: 16px;", :multiple => "multiple" %>
  
  </div>

 <div class="form-group timechoose22" style="display:none;">
    <label class="col-md-2 control-label" style="width: 100%;text-align: center;">Date</label>
                <div class='input-groupst date col-md-8' >
                    <input type='text' class="form-control" id='datetimepicker6' style="border-radius: 5px; cursor: pointer; left: 16px; width: 244px; text-align: center;" readonly />
                    
            </div>
    </div>

 

  <div class="form-group timechoose22" style="display:none;">
    <label class="col-md-2 control-label" style="width:100%; text-align: center;">Start Time</label>
                <div class='input-groupst date col-md-8' >
                    <input type='text' class="form-control" id='datetimepicker4' style="border-radius: 5px; cursor: pointer; left: 16px; width: 244px; text-align: center;" readonly />
                    
            </div>
    </div>

  <div class="form-group" style="display:none">
    <%= f.label :start_at,"Start Time", :class => "col-md-2 control-label" %>
    <div class="col-md-8 select2-container select2">
      <%= f.datetime_select :start_at %>
    </div>
  </div>

  <div class="form-group timechoose22" style="display:none;">
    <label class="col-md-2 control-label" style="width:100%;text-align: center;">End Time</label>
                <div class='input-groupst date col-md-8'>
                    <input type='text' class="form-control" id='datetimepicker5' style="border-radius: 5px; cursor: pointer; left: 16px; width: 244px; text-align: center;" readonly />
            </div>
    </div>

  <div class="form-group" style="display:none">
    <%= f.label :end_at, "End Time", :class => "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.datetime_select :end_at %>
    </div>
  </div>

  <div class="form-group" style="display:none;">
    <%= f.label :description,"Notes", :class => "col-md-2 control-label", :style => "border-radius: 5px;" %>
    <div class="col-md-8">
      <%= f.text_area :description, :style => "width: 153px; border-radius: 5px;" %>
    </div>
  </div>

  <div class="form-group" id="submitchoose22" style="display:none;">
      <div class="col-md-offset-2 col-md-8" style="width: 100%; text-align: center;margin-left:0px;">
        <%= f.submit "Create appointment", class: "btn mybtn btn-large btn-primary", style: "position:relative;" %>
      </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
              window.prettyPrint() && prettyPrint();
  $('#appointment_client_id').multiselect({
                  maxHeight: 200,
                  enableFiltering: true,
                  filterBehavior: 'text',
                  enableCaseInsensitiveFiltering: true,
                  filterPlaceholder: 'Search',
              });


  $('body').off('change','#type2');
  $('body').on('change','#type2', function(){
    var val = $(this).val();
    console.log(val)
    if (val == "1") {
      $('.timechoose22').css('display', '');
      $('#clientchoose22').css('display', '');
      $('#submitchoose22').css('display', '');
      $('#canadd22').css('display', '');
      $('#totaladd22').css('display', 'none');
    } else if (val == "2"){
      $('.timechoose22').css('display', '');
      $('#clientchoose22').css('display', 'none');
      $('#submitchoose22').css('display', '');
      $('#canadd22').css('display', 'none');
      $('#totaladd22').css('display', 'none');

    } else {
      $('.timechoose22').css('display', 'none');
      $('#clientchoose22').css('display', 'none');
      $('#submitchoose22').css('display', 'none');
      $('#canadd22').css('display', 'none');
      $('#totaladd22').css('display', 'none');
    };

  });

  $('body').off('change','#canadd2');
  $('body').on('change','#canadd2', function(){
    var val = $(this).val();
    console.log(val);
    if (val == "1") {
      $('#totaladd22').css('display', '');
    } else {
       $('#totaladd22').css('display', 'none');
    };
  });



});

</script>

<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`

    $(document).on('click', function(){
     $('.keep-open').data('closable', true);
     
  });
  $('body').off('click', '.dropdown-menu');
  $('body').on('click', '.dropdown-menu', function(e) {
        $('.keep-open').data('closable', false);
        
    });

  $('body').off('click', '.clockpicker-popover');
  $('body').on('click', '.clockpicker-popover', function(e) {
        $('.keep-open').data('closable', false);
        
    });
  $('body').off('click', '.datepicker');
  $('body').on('click', '.datepicker', function(e) {
        $('.keep-open').data('closable', false);
        
    });

  $('body').off('click', '.attachs :submit');
  $('body').on('click', '.attachs :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
        
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

 });
  </script>

  <script type="text/javascript">
  var ready;
  ready = function() {

   
          


          
  

  };

  
</script>