<%= form_for(@appointment, html: { :class => "form-horizontal" }, remote: true) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <div class="form-group" id="canadd3">
    <label class="col-md-2 control-label" style="width: 100%; text-align: center;">Can clients join this session?</label>
                <div class='input-groupst date col-md-8' >
                    <%= select_tag "canadd2", options_for_select([ ["Yes","1"], ["No","2"]], "#{@appointment.allowjoin}"), prompt: " ", class: "btn btn-default btn-sizers", style: "color: #333333; background-color: #ebebeb; border-color: #adadad;height:34px;width: 244px; margin-left: 2px; min-width: 244px;text-indent: 88px;"%>
                    
            </div>
    </div>



    <div class="form-group" id="totaladd3">
    <label class="col-md-2 control-label" style="width: 100%; text-align: center;">Total # allowed in session?</label>
                <div class='input-groupst date col-md-8' >
                    <%= select_tag "totaladd2", options_for_select([ "1", "2", "3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","10"], "#{@appointment.maxjoin}"), prompt: " ", class: "btn btn-default btn-sizers", style: "color: #333333; background-color: #ebebeb; border-color: #adadad;height:34px;width: 244px; margin-left: 2px; min-width: 244px;text-indent: 100px;"%>
                    
            </div>
    </div>




  <div class="form-group">
    <%= f.label :client, "Clients", :class => "col-md-2 control-label", :style => "text-align:center;margin-right:34px;width:100%;" %>
      <%= f.collection_select :client_id, current_user.rolable.clients, :id, :name, {:required => true}, :class=> "multisel2", :style => "width: 244px; left: 16px;", :multiple => "multiple", :id => "clientschg" %>
  
  </div>
  

 <div class="form-group">
    <label class="col-md-2 control-label" style="width: 100%;text-align: center;">Date</label>
                <div class='input-group date col-md-8' >
                    <input type='text' class="form-control" id='datetimepicker9' style="border-radius: 5px; cursor: pointer; left: 16px; width: 244px; text-align: center;" readonly />
                    
            </div>
    </div>

 

  <div class="form-group">
    <label class="col-md-2 control-label" style="width:100%; text-align: center;">Start Time</label>
                <div class='input-group date col-md-8' >
                    <input type='text' class="form-control" id='datetimepicker7' style="border-radius: 5px; cursor: pointer; left: 16px; width: 244px; text-align: center;" readonly />
                    
            </div>
    </div>

  <div class="form-group" style="display:none">
    <%= f.label :start_at,"Start Time", :class => "col-md-2 control-label" %>
    <div class="col-md-8 select2-container select2">
      <%= f.datetime_select :start_at %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" style="width:100%;text-align: center;">End Time</label>
                <div class='input-group date col-md-8'>
                    <input type='text' class="form-control" id='datetimepicker8' style="border-radius: 5px; cursor: pointer; left: 16px; width: 244px; text-align: center;" readonly />
            </div>
    </div>

  <div class="form-group" style="display:none">
    <%= f.label :end_at, "End Time", :class => "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.datetime_select :end_at %>
    </div>
  </div>

  <div class="form-group" style="display:none;">
    <%= f.label :description,"Notes", :class => "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-offset-2 col-md-8 attachs" style="width: 100%; text-align: center;margin-left:0px;">
        <%= f.submit "Save Changes", class: "btn mybtn btn-large btn-primary", style: "position:relative;" %>
      </div>
  </div>
<% end %>


 <script type="text/javascript">
  var ready2;
  ready2 = function() {

   
         $('#datetimepicker7').clockpicker({
           default: "now",
           twelvehour: true,
           donetext: "Done",
           afterDone: function() {
                            var timeplus = $('#datetimepicker7').val();
            
            var ar88 = timeplus.split(/:| /g);
            if (ar88[0] == 12) {
              ar88[0] = Number(ar88[0])-11
            } else {
             ar88[0] =  Number(ar88[0])+1
            };
            if (ar88[0] == 12) {
              if (ar88[2] == "PM") {
              ar88[2] = "AM"
              } else {
                ar88[2] = "PM"
              };
            };
            
            var timeplus2 = ar88.join(" ");
            var timeplus3 = timeplus2.replace(" ", ":");
            $('#datetimepicker8').val(timeplus3);
                        }
          });
          
   


   
          $('#datetimepicker8').clockpicker({
            
           default: "now",
           twelvehour: true,
           donetext: "Done",

          });

          
  


    
          $('#datetimepicker9').datepicker({
            orientation: "top auto",
             autoclose: true,
             todayBtn: true,
             todayHighlight: true,
          })
          .on('show', function(e) {
        var $popup = $('.datepicker');
        $popup.click(function () { return false; });
    });;
          
  

  };

  $(document).ready(ready2);
  $(document).on('page:load', ready2);


  $(document).ready(function(){
      
$('body').off('change', '#datetimepicker9')
$('body').on('change', '#datetimepicker9', function(){
  var val8 = this.value;
  var ar1 = val8.split("/");
  var it1 = ar1[0];
  var it2 = ar1[1];
  var it3 = ar1[2];
  $("select#appointment_start_at_1i option:selected").val(it3);
  $("select#appointment_end_at_1i option:selected").val(it3);
  $("select#appointment_start_at_2i option:selected").val(it1);
  $("select#appointment_end_at_2i option:selected").val(it1);
  $("select#appointment_start_at_3i option:selected").val(it2);
  $("select#appointment_end_at_3i option:selected").val(it2);
});

$('body').off('change', '#datetimepicker7')
$('body').on('change', '#datetimepicker7', function(){
  var val9 = this.value;
  var ar19 = val9.split(/:| /g);
  if (ar19[2] == "PM") {
    ar19[0] = Number(ar19[0])+12
  };
  $("select#appointment_start_at_4i option:selected").val(ar19[0]);
  $("select#appointment_start_at_5i option:selected").val(ar19[1]);
});

$('body').off('change', '#datetimepicker8')
$('body').on('change', '#datetimepicker8', function(){
  var val7 = this.value;
  var ar17 = val7.split(/:| /g);
  if (ar17[2] == "PM") {
    ar17[0] = Number(ar17[0])+12
  };
  $("select#appointment_end_at_4i option:selected").val(ar17[0]);
  $("select#appointment_end_at_5i option:selected").val(ar17[1]);
});

  });
</script>

<script type="text/javascript">
$(document).ready(function() {
              window.prettyPrint() && prettyPrint();
  $('#clientschg').multiselect({
                  maxHeight: 200
              });
});

</script>