<% flash.each do |name, msg| %>

                    <% if msg.class == Array %>
                      <% msg.each do |message| %>
                        <%= content_tag :div, message, class: "alert alert-#{name}" %>
                      <% end %>
                    <% else %>

                      
                      <%= content_tag :div, msg, :class => " alert alert-#{name}" %>

                    <% end %>
                  <% end %>

<div id="pad-wrapper">
                <div class="row calendar-wrapper">
                    <div class="col-md-12" style="padding-bottom:20px;">

                        <div class="col-md-10 col-sm-12 col-xs-12 pull-right keep-open" id="hapit">

                        <a href="#" class="btn-flat success pull-right dropdown-toggle" data-toggle="dropdown" id="spacer">
                            <span>&#43;</span>
                            NEW APPOINTMENT
                        </a>
                        <div class="dropdown-menu padadj" style = "padding: 15px; padding-bottom: 0px; width: 400px; max-width: 100%;">
                         <div id="new_agendars" class="text-center">
                          <% if current_user.clients.any? %>
                        <%= render 'form' if signed_in? %>
                        <% else %>
                        <p>You must have existing clients before creating appointments for them.  Click <%= link_to "clients", clients_path %> to create your first client.</p>
                        <% end %>
                            </div>
                          </div>
                      </div>
                  </div>

                        <!-- div that fullcalendar plugin uses  -->
                        <div id='calendar' style="clear:both;"></div>

                       
                    </div>
                </div>
        </div>


<div id="create_event_dialog" class="dialog" style ="display:none;">
    <%= render 'form' %>
  </div>

    <div id="event_desc_dialog" class="dialog" style="display:none;"></div>

    
<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`

    $(document).on('click', function(){
     $('.keep-open').data('closable', true);
     
  });
  $('body').off('click', '.dropdown-menu');
  $('body').on('click', '.dropdown-menu', function(e) {
        $('.keep-open').data('closable', false);
        
    });

  $('body').off('click', '.attachs :submit');
  $('body').on('click', '.attachs :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
        
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

 });
  </script>

  <script type="text/javascript">
  var ready;
  ready = function() {

   
          $('#datetimepicker1').pickatime({
           
            interval: 15,
          });
          
   


   
          $('#datetimepicker2').pickatime({
            
            interval: 15,
          });
          
  


    
          $('#datetimepicker3').pickadate({
            
          });
          
  

  };

  $(document).ready(ready);
  $(document).on('page:load', ready);


  $(document).ready(function(){

    $('body').on('submit','#new_appointment', function(event){
      event.preventDefault;

      var val8 = $('#datetimepicker3').val();
      var ar1 = val8.split("/");
      var it1 = ar1[0];
      var it2 = ar1[1];
      var it3 = ar1[2];
      $("select#appointment_start_at_1i option:selected").val(it3);
      $("select#appointment_end_at_1i option:selected").val(it3);
      $("select#appointment_start_at_2i option:selected").val(it1);
      $("select#appointment_end_at_2i option:selected").val(it1);
      $("select#appointment_start_at_3i option:selected").val(it2);
      $("select#appointment_end_at_3i option:selected").val(it2);


      var val9 = $('#datetimepicker1').val();
      var ar19 = val9.split(/:| /g);
      if (ar19[2] == "PM" && ar19[0] != 12) {
        ar19[0] = Number(ar19[0])+12
      };
      $("select#appointment_start_at_4i option:selected").val(ar19[0]);
      $("select#appointment_start_at_5i option:selected").val(ar19[1]);


      var val7 = $('#datetimepicker2').val();
      var ar17 = val7.split(/:| /g);
      if (ar17[2] == "PM" && ar17[0] != 12) {
        ar17[0] = Number(ar17[0])+12
      };
      $("select#appointment_end_at_4i option:selected").val(ar17[0]);
      $("select#appointment_end_at_5i option:selected").val(ar17[1]);

      $('#new_appointment').trigger("submit.rails");


      return false
    });
      


  });
</script>

<script type="text/javascript">
$(document).ready(function() {
              window.prettyPrint() && prettyPrint();
  $('#appointment_client_id').multiselect({
                  maxHeight: 200
              });
});
$(document).ready(function(){
    $('.multiselect').css('margin-left', '0px');
});
</script>
