<div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>Exercises</h3>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    <div class="ui-dropdown">
                        <div class="head" data-toggle="tooltip" title="Click me!">
                            Find an exercise
                            <i class="arrow-down"></i>
                        </div>  
                        <div class="dialog">
                            <div class="pointer">
                                <div class="arrow"></div>
                                <div class="arrow_border"></div>
                            </div>
                            <div class="body" id="search">
                                <%= search_form_for @search, html: { :class => "form-inline" }, url: search_exercises_path, method: :post do |f| %>
                                     <div class="form-group">
                                          <%= f.text_field :name_cont, :class => "form-control", :id => "searcher", :placeholder => "Exercise Name Contains"%>
                                     </div>
                                     <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                          <%= f.submit "Search", class: "btn mybtn btn-large btn-primary", :id => "sizebtn" %>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>



                        <div class="ui-dropdown">
                        <div class="head" id="nopp">
                            <%= link_to "Show All Exercises", exercises_path %>
                            </div>
                        </div>




                    

                    <a href="exercises/new" class="btn-flat success pull-right" id="spacer">
                        <span>&#43;</span>
                        NEW EXERCISE
                    </a>
                </div>
            </div>




<div id="lister">

<%= render "exercises/lister" %>


</div>


<div>
<%= render 'form' if signed_in? %>
</div>

  












