<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <% if params[:controller] == "payments" %>

      <% if current_user.stripe_publishable_key.present? %>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey("<%= current_user.stripe_publishable_key %>");
      // ...
    </script>
      <% else %>
      <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
      // ...
    </script>
      <% end %>

    <% else %>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
      // ...
    </script>
    <% end %>
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path("apple-touch-icon-precomposed.png") %>">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("apple-touch-icon-72x72-precomposed.png") %>">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_path("apple-touch-icon-76x76-precomposed.png") %>">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("apple-touch-icon-114x114-precomposed.png") %>">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_path("apple-touch-icon-120x120-precomposed.png") %>">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path("apple-touch-icon-144x144-precomposed.png") %>">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path("apple-touch-icon-152x152-precomposed.png") %>">
    
    <%= render 'layouts/shim' %>




  </head>
  <body>

    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>

    <div class="content">
     
       
      <%= yield %>
      
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>