<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <% if params[:controller] == "payments" %>

      <% if current_user.stripe_publishable_key.present? %>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey(<%= current_user.stripe_publishable_key %>);
      // ...
    </script>
      <% else %>
      <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_erOkAuzgg6lH5TQuaBkmwMiTvlXZ9');
      // ...
    </script>
      <% end %>

    <% else %>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_erOkAuzgg6lH5TQuaBkmwMiTvlXZ9');
      // ...
    </script>
    <% end %>
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/shim' %>




  </head>
  <body>

    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>

    <div class="content">
     
       <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>