<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
   
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path("apple-touch-icon-precomposed.png") %>">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("apple-touch-icon-72x72-precomposed.png") %>">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_path("apple-touch-icon-76x76-precomposed.png") %>">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("apple-touch-icon-114x114-precomposed.png") %>">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_path("apple-touch-icon-120x120-precomposed.png") %>">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path("apple-touch-icon-144x144-precomposed.png") %>">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path("apple-touch-icon-152x152-precomposed.png") %>">
    
    <%= render 'layouts/shim' %>




  </head>
  <body>

    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>

    <div class="content" style="min-height:800px;">
     
       
      <%= yield %>
      
    </div>
    <%= render 'layouts/footer' %>



  <script type="text/javascript">
$('document').ready(function(){
    <% if current_user.rolable_type == "Trainer" %>
    <% countrequest = current_user.rolable.requests.size %>
    <% if countrequest != 0 %>
    $('.icon-warning-sign').parents('li').append('<span class="count">' + <%= countrequest %> + '</span>');
    <% end %>
    <% end %>

    $('body').on('click', '.icon-warning-sign', function(){
            $.when($.ajax({
                      url: "/requests/requestlist",
                      success: function(data) {
                        $("#request_list").html(data["form"]);
                         }})).then( finishrequestlist());

            function finishrequestlist() {
          $('.fc-cell-overlay').popover('destroy');
        $('.fc-event').popover('destroy');

            $('.icon-warning-sign').popover({
              title: "Current Requests",
              width: 500,
              animation: false,
              trigger: 'manual',
              container: 'body',
              placement: 'bottom',
              content: "<div id='request_list'></div>",
              html: true,
              template: '<div class="popover" style="width:500px" role="tooltip"><div class="arrow"></div><h3 class="popover-title" style="text-align:center;"></h3><div class="popover-content"></div></div>'
            }).popover('show');
        }
});



$("body").on("click", function (e) {

    if ($(e.target).is(".icon-warning-sign")) {
        e.stopPropagation();
    } else if ($(e.target).is(".popover")) {
        e.stopPropagation();
    } else {
      $('.icon-warning-sign').popover('destroy');
    }



});



});




</script>

  </body>




</html>

