<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <% if params[:controller] == "payments" %>

      <% if current_user.stripe_publishable_key.present? %>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey("<%= current_user.stripe_publishable_key %>");
      // ...
    </script>
      <% else %>
      <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_erOkAuzgg6lH5TQuaBkmwMiTvlXZ9');
      // ...
    </script>
      <% end %>

    <% else %>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_erOkAuzgg6lH5TQuaBkmwMiTvlXZ9');
      // ...
    </script>
    <% end %>
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'favicon.ico' %>

    <link rel="apple-touch-icon" href="/assets/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57x57.png" /> 

    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72.png" />

    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114.png" />

    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/apple-touch-icon-120x120.png" />

    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144x144.png" />

    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/apple-touch-icon-152x152.png" />

    <link rel="shortcut icon" sizes="1024x1024" href="/assets/apple-touch-icon-1024x1024.png" />
    
    <%= render 'layouts/shim' %>




  </head>
  <body>

    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>

    <div class="content">
     
       
      <%= yield %>
      
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>